<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/media/media.css">
    
  
    
</head>
<body>
    <header>
        
        <div class="headerSup">
        <div id="contenedor-img">
            <img id="img" src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        </div>
        
        <div id="barraLupa">
                <form>
                    <input id="barraB" type="search" placeholder="Buscar productos, marcas">
                    <i class="fa-solid fa-magnifying-glass"></i>     
                </form>
        </div>
     </div>
        <br>

        <div id="compraEnCuotas">
        
            <i class="fa-solid fa-hand-holding-dollar"></i> 
            Comprá en cuotas y sin tarjetas de crédito
        </div>
            
        
        <div class="headerBot">
                        
                <div class="header1">
                        <div><a href="/views/ofertas.htm">Ofertas</a></div>
                        <div><a href="/views/tiendas-oficiales.html">Tiendas oficiales</a></div>
                        <div><a href="/views/vender.html">Vender</a></div>
                        <div><a href="/views/ayuda.html">Ayuda</a></div>
                </div>
            

               <div class="header2">
                        <div><a href="/views/register.html">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i></div>
                        <div><a href="/views/login.html">Ingresá</a><i id="ingresa" class="fa-solid fa-right-to-bracket"></i></div>
                        <div><a href="/views/mis-compras.html">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></div>
                        </div>
            </div>
   
            <div id="contenedor-burguer-menu">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
            </div>

    </header>
       
     <img id="banner" src="/images/img-home-banner.jpg" alt="imagen de banner">
     
     <main>
        <h3>Basado en tu última visita</h3>
        <section>
                <article class="articulos">
                <img class="imgSec" src="images/img-cafetera-moulinex.jpg" alt="imagen cafetera">  <br>

                    <div class="descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    </div>
                    <h5 class="titulos">Cafetera Moulinex</h5>
                </article>
            <!-- -------- -->
                <article class="articulos">
                <img class="imgSec" src="images/img-macbook-pro-2019.jpg" alt="imagen macbook"> <br>

                    <div class="descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    </div>
                    <h5 class="titulos">Mac Book Pro 2019</h5>
                </article>
            <!-- -------- -->
                <article class="articulos">
                <img class="imgSec" src="images/img-samsung-galaxy-s10.jpg" alt="imagen samsung galaxy s10">  <br>

                    <div class="descripciones">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    </div>
                    <h5 class="titulos">Samsung Galaxy s10</h5>
                </article>
            <!-- -------- -->
                <article class="articulos">
                <img class="imgSec" src="images/img-tv-samsung-smart.jpg" alt="imagen SmartTv Samsung 43 pulgadas">  <br>

                    <div class="descripciones">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <h5 class="titulos">SmartTv Samsung 43"</h5>

                </article>

        </section>
        
        <h3>Ofertas</h3>
        <section>
                <article class="articulos">
                <img class="imgSec" src="images/img-cafetera-moulinex.jpg" alt="imagen cafetera"> <br>

                    <div class="descripciones">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p> 
                    </div>
                    <h5 class="titulos">Cafetera Moulinex</h5>

                </article>
            <!-- -------- -->
                <article class="articulos">
                 <img class="imgSec" src="images/img-macbook-pro-2019.jpg" alt="imagen macbook"> <br>

                    <div class="descripciones">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <h5 class="titulos">Mac Book Pro 2019</h5>

                </article>
            <!-- -------- -->
                <article class="articulos">
                <img class="imgSec" src="images/img-samsung-galaxy-s10.jpg" alt="imagen samsung galaxy s10"> <br>

                    <div class="descripciones">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p> 
                    </div>
                        <h5 class="titulos">Samsung Galaxy s10</h5>

                </article>
            <!-- -------- -->
                <article class="articulos">
                <img class="imgSec" src="images/img-tv-samsung-smart.jpg"  alt="imagen SmartTv Samsung 43 pulgadas"> <br>

                    <div class="descripciones">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <h5 class="titulos">SmartTv Samsung 43"</h5>

            </article>
    </section>
    </main>

    <footer id="footer">
        
        <div class="footer-bloques">
        <div class="icons-footer">
        
            <i class="fa-solid fa-credit-card"></i>
        
        </div>
        
        <h4 class="tituloFooter">Pagá con tarjeta o en efectivo</h4>
            
        <p class="pFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    
        </div>

       <!--  -->
       <div class="footer-bloques">
         <div class="icons-footer">
        
             <i class="fa-solid fa-gift"></i>
        
        </div>
        
        <h4 class="tituloFooter">Envío gratis desde $ 2.500</h4>
            <p class="pFooter"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <!--  -->
        <div class="footer-bloques">
        <div class="icons-footer">
        
            <i class="fa-solid fa-user-shield"></i>

        </div>
        
        <h4 class="tituloFooter">Seguridad, de principio a fin</h4>
            <p class="pFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
            </p>
        </h4>
        </div>
        <!--  -->
        <div id="copy">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>
</html>